<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="com.ionicframework.tangram165629" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Smart Tangram</name>
  <description>
       App to interact with Smart Tangram devices.
    </description>
  <author email="design@mariapaulasaba.com" href="http://mariapaulasaba.com/">
      Maria Paula Saba
    </author>
  <content src="index.html"/>
  <access origin="*"/>
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
</widget>